# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Flask stuff
instance/
*.sqlite3

# IDE/editor files
.vscode/
.idea/
*.swp
